table {
  border-collapse: collapse;
  box-shadow: 4px 4px 10px 0 rgba(, 0, 0, 0.1);
  background-color: white;
  font-size: 14px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}

th {
  background-color: #aaaaaa;
  color: #ddd;
  font-size: 14px;
}

tbody tr:hover {
  background-color: #d3d3d3;
  opacity: 0.9;
  cursor: pointer;
}
